/*Gabriel Garza, 11/3/25
CSS Style Code*/

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  line-height: 1.5em;}

#wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
}

header {
    background-image: url("portfolio-bg-header-work-1-768x320.jpg"); 
    background-position: center;
    background-size: cover;text-align: center;
    background-color: #e0e0e0;
    padding: 1em;
}

nav ul {
    padding: 0;
    text-align: center;
    background-color: #1d76a0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 1em;
    line-height: 1.5em;
}

h1, h2, h3 {
    color: #222;
}

ul, ol {
    margin-left: 2em;
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    margin-top: 10px;
}

footer {
    text-align: center;
    background-color: #1d76a0;
    color: #fff;
    padding: 0.5em;
    margin-top: 1em;
}